<% @feeds.each do |feed|%>
  <div class="large-6 columns type_<%=feed.type%>">
    <div class="row collapse">
      <div class="small-3 columns user">
        <div class="user_profile">
          <%= image_tag "#{ENV['fb_graph']}/#{feed.from.id}/#{ENV['profile_picture_arg']}", {:alt=>feed.from.name, :class=>"user_photo round"} %>
          <%= link_to feed.from.name,"#{ENV['fb_domain']}/#{feed.from.id}", {:target => "_blank", :class=>"user_name text-center"} %>
        </div>
      </div>
      <div class="small-9 columns message">
        <div class="message_body">
          <div class="text-justify message_info clearfix">
            <span class="left">
              <%= feed.type%>
            </span>
            <span class="right">
              <%= feed.created_time.to_formatted_s(:db) %></br>
            </span>
          </div>
          <div class="message_block">
            <%= render :partial => feed.type, :locals => {:feed => feed} %>
        </div>
      </div>
      </div>
    </div>
  </div>
<% end%>

<%= hidden_field_tag 'Next', "/show?until=#{@until_time}&since=#{@since_time}",{:id => "next_page"} %>
<%#= hidden_field_tag 'Next', "",{:id => "next_page"} %>
